##                                                        Final Project
  
### Project Overview:
The purpose of the project is to see whether smalls businesses create more jobs in California. We use QWI (Quarterly Workforce Indicator), published by the US Census Bureau, as the main data source. Multiple linear regression models will be tested to better capture and isolate covariances between regressors.
#### (Important variables)
The depandent variable in the regression model will be the net job creation. This is calculated by subtracting number of hirings for replacement from the total number of hirings. 

The independent variable will be the proportion of employment of small firms with respect to the total employment in the county. This variable is to reflect the weighted proportion of small businesses. 

The first set of controlled variables will include the proportion of employments of medium sized and large firms. 

The second controlled variable is the education contribution level for each small firms. This is calculated by the number of employments with education level higher than or equal to undergraduate level divided by the total employments of small firms. 

The third controlled variable will be a dummy variable indicating the financial crisis from 2008 to 2010. 
### Project Structure:
#### (Introduction) 
The project will start with data description, which will include descriptive statistics for each variable. Also, the data structure of QWI will be briefly introduced since there are randoms distortions added for the confidentiality purpose. It is neccessary to consider this kind of error factors.
#### (Methodology) 
The second part will introduce main data process methodology including processing missing data and processing "significantly distorted value". Also, variables from the raw dataset will be processed to better eliminate factors that will affect the robustness of the regression, such as seasonality. After these steps, we can present the final processed dataset with simple descriptive statistics such as mean, variance, correlation and covariance. 
#### (Results) 
The third part will be constructing regression models. Both linear and logistic regression models will be tested with different regressor inputs. 
#### (Discussion) 
The fourth part will be checking the robustness of different regression models and the significance of important coefficients. Robustness testing will include the discussion of adjusted-R, covariance matrix and BIC so that the most preferred model could be selected. Also, the significance will be tested using t-test on important coefficients. 
#### (Conclusion) 
The final part will be interpreting the results in case of real-life suggestions and implications. Sugesstions for future research will be included as well.

# 1 Introduction
Job creation has been a central topic in politics, economics, even on people's dinner tables for a long time. People always want a higher job creation rate. However, defining job creation itself is a complicated task consedering there are continuous job destructions and rehirings happening in the job market. Therefore, a more careful and comprehensive approach is needed to better explain the concept of job creation. On top of that, this research contains statistical analysis on the factors that lead to a higher job creation. The hypotheis is that micro and small firms have a higher contribution to job creation. 

The dataset is from QWI (Quarterly Workforce Indicators) published by the US Census Bureau. It contains time-series data on the establishment level from 1991 to 2019. The quarterly indicators include job changes on firm levels and on individual levels. One specific thing worths mentioning is that the dataset contains artificially distorted data in order to protect the confidentiality of firms. Also, some data at in early years are missing. Therefore, these two factors will affect the quality of the dataset, and we will process these factors to minimized their impact.

We will use the unpooled OLS linear regression model to visualize the contribution of micro and small firms. For the result to be robust, different sets of controlled variables including knowledge contribution, job creation by firms of other sizes, and the factor of major financial crisis or business cycles are included in the regression model. Specific explanations of these important variables will be included in the later sessions.

# 2 Key Imports and Data Access

## 2.1 Key Imports
We used some famous Python libraries including NumPy, Pandas, and so on for data analysis, regression analysis and data visualization.

In [25]:
#key imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import statsmodels.api as sm
from statsmodels.iolib.summary2 import summary_col

## 2.2 Data Access
We will access multiple datasets since we want to make each step as clear as possible while ensuring the accurateness of the dataset.

In [71]:
#access data
url = 'https://ledextract.ces.census.gov/request/eaba6ae33e1d44509c08571b9ba0cc68.csv'
raw_data = pd.read_csv(url)

In [48]:
#access data
#raw_data = pd.read_csv('dataset_1.csv')

# 3 Reformatting and Data Cleaning
## 3.1 Missing Values
There are many missing values in the dataset as shown by the overview. Therefore, we would like to ignore certain groups that contain a significant amount of missing values (20%). Although imputation is a preferred method, we will simply drop certain groups since it remains consistant across the whole dataset and our sample size will not be affected significantly.

In [72]:
#get an overview of the dataset
raw_data.head()

,periodicity,seasonadj,geo_level,geography,ind_level,industry,ownercode,sex,agegrp,race,...,firmage,firmsize,year,quarter,Emp,EmpEnd,EarnS,sEmp,sEmpEnd,sEarnS
0,Q,U,C,6001,A,0,A05,0,A00,A0,...,0,0,1991,3,NaN,447034.0,NaN,-1,1,-1
1,Q,U,C,6001,A,0,A05,0,A00,A0,...,0,1,1991,3,NaN,98791.0,NaN,-1,1,-1
2,Q,U,C,6001,A,0,A05,0,A00,A0,...,0,2,1991,3,NaN,51407.0,NaN,-1,1,-1
3,Q,U,C,6001,A,0,A05,0,A00,A0,...,0,3,1991,3,NaN,79477.0,NaN,-1,1,-1
4,Q,U,C,6001,A,0,A05,0,A00,A0,...,0,4,1991,3,NaN,23357.0,NaN,-1,1,-1

In [77]:
#we observe that there are several columns that are not out interested variables, such as periodicity, seasonadj.
#so we want to keep only those useful columns.
raw_data = raw_data[['geography','firmsize','year','quarter','Emp','EmpEnd','sEmp','sEmpEnd']]
raw_data.head()

   geography  firmsize  year  quarter  Emp    EmpEnd  sEmp  sEmpEnd
0       6001         0  1991        3  NaN  447034.0    -1        1
1       6001         1  1991        3  NaN   98791.0    -1        1
2       6001         2  1991        3  NaN   51407.0    -1        1
3       6001         3  1991        3  NaN   79477.0    -1        1
4       6001         4  1991        3  NaN   23357.0    -1        1

In [76]:
#check missing values
raw_data.isna().sum()

geography      0
firmsize       0
year           0
quarter        0
Emp          945
EmpEnd       605
sEmp           0
sEmpEnd        0
dtype: int64

In [134]:
#check the pattern of missing values
def pct_na (a):
    '''return the percentage of the number of missing values for a specified array'''
    
    number_of_entris = len(a)
    number_of_na = a.isna().sum()
    result = number_of_na/number_of_entris
    
    return result

def ms_values (dataset, group_name, var_names):
    """return a DataFrame containing the percentage of missing values for variables var_names by the group group_name"""
    
    #group the DataFrame by group_name
    grouped = dataset.groupby([group_name])
    
    #generate the return object
    columns = [group_name] + var_names
    ms = np.empty([len(grouped),len(var_names)+1])

    #apply pct_na on each group (i.e. each year)
    column_index = 0
    for i in columns:
        row_index = 0
        for j in grouped.groups:
            if column_index == 0:
                ms[row_index,column_index] = j
            else:
                a = grouped.get_group(j)
                ms[row_index,column_index] = pct_na(a[i])
            row_index +=1
        column_index += 1
    
    ms = pd.DataFrame(ms,columns=columns)
    return ms

In [140]:
#then we display missing values by county and year

ms_county = ms_values(raw_data,'geography',['Emp','EmpEnd'])
ms_year = ms_values(raw_data,'year',['Emp','EmpEnd'])

In [142]:
print('Percentage of missing values by county')
ms_county.head()

Percentage of missing values by county

   geography       Emp    EmpEnd
0     6001.0  0.009091  0.000000
1     6003.0  0.373957  0.372287
2     6005.0  0.009091  0.000000
3     6007.0  0.009091  0.000000
4     6009.0  0.009091  0.000000

In [143]:
print('Percentage of missing values by year')
ms_year.head()

Percentage of missing values by year

     year       Emp    EmpEnd
0  1991.0  0.510174  0.023256
1  1992.0  0.021708  0.021708
2  1993.0  0.021708  0.022431
3  1994.0  0.014545  0.014545
4  1995.0  0.028098  0.028818

In [154]:
#we display counties and years with more than 20% missing values
ms_county.loc[ms_county['Emp']>=0.2]

    geography       Emp    EmpEnd
1      6003.0  0.373957  0.372287
45     6091.0  0.272879  0.261231

In [149]:
ms_year.loc[ms_year['Emp']>=0.2]

     year       Emp    EmpEnd
0  1991.0  0.510174  0.023256

In [164]:
#drop these observations
raw_data = raw_data.loc[raw_data['year']!=1991]
raw_data = raw_data.loc[raw_data['geography']!=6003 & 6091]

## 3.2 Reformatting

The original dataset does not have our interested variables, and the format of the original dataset is not feasible for further analysis. Therefore, we calcualte our interested variables and reformat some variables from long to wide.

In [161]:
#reformatting 
def emp_p(emp_bgn, emp_end, total_emp_bgn):
    return (emp_bgn + emp_end) / (2 * total_emp_bgn)

def net_emp_c (emp_bgn,emp_end):
    return (emp_end - emp_bgn) / emp_bgn

county_index = raw_data.drop_duplicates(subset = ['geography'])['geography']
year_index = raw_data.drop_duplicates(subset = ['year'])['year']
columns_titles = ["geography","year","firmsize","quarter","Emp","EmpEnd"]
raw_data=raw_data.reindex(columns=columns_titles)

grouped = raw_data.groupby(by=["geography","year","firmsize"])

result = []

#calculate net job creation
for i in grouped.groups:
    a = grouped.get_group(i)
    county = a['geography'].values[0]
    year = a['year'].values[0]
    firm_size = a['firmsize'].values[0]
    prop = 0
    if firm_size == 0:
        total_emp_bgn = a['Emp'].values[0]
        total_emp_end = a['EmpEnd'].values[-1]
        if total_emp_bgn == np.nan:
            print(i)
            job_c = "NA"
        else:
            job_c = total_emp_end - total_emp_bgn
    else:
        emp_bgn = a['Emp'].values[0]
        emp_end = a['EmpEnd'].values[-1]
        if total_emp_bgn == 0:
            prop = "NA"
        else:
            prop = emp_bgn
    
    result.append([county,year,firm_size,prop,job_c])
    
result = pd.DataFrame(data=result,columns=['county','year','firmsize','prop','net_jc'])

result = result.loc[result['firmsize'] !=0]
result = pd.get_dummies(result,columns =['firmsize']) 

#change variable firmsize from long to wide
grouped2 = result.groupby(['county','year'])
table = []
for i in grouped2.groups:
    row = []
    prop_1 = 0
    prop_size = []
    b = grouped2.get_group(i)
    county = b['county'].values[0]
    year = b['year'].values[0]
    net_jc = b['net_jc'].values[0]
    row =[county,year,net_jc]
    for j in ['firmsize_1','firmsize_2','firmsize_3','firmsize_4','firmsize_5']:
        firmsize_values = b[j].values
        if np.count_nonzero(firmsize_values) ==1:
            prop_1 = b.loc[b[j]==1]['prop'].values[0]
            row.append(prop_1)
        else:
            row.append(0)
    table.append(row)

df = pd.DataFrame(table,columns = ['county','year','net_jc','prop_micro','prop_small','prop_medium','prop_m_l','prop_large'])

In [162]:
df.head()

,county,year,net_jc,prop_micro,prop_small,prop_medium,prop_m_l,prop_large
0,6001,1992,6308.0,95749.0,54857.0,76314.0,24224.0,200262.0
1,6001,1993,15578.0,96105.0,51860.0,78245.0,20698.0,204124.0
2,6001,1994,26493.0,96385.0,53749.0,80442.0,23100.0,210252.0
3,6001,1995,28805.0,97326.0,54676.0,86834.0,23583.0,218399.0
4,6001,1996,35438.0,100079.0,58498.0,90765.0,26034.0,225277.0